/* Anchor for .select-menu-modal-holder */
#github-toc {
    position: relative;
}
/* Right-align menu on button */
#github-toc > .select-menu-modal-holder {
    right: 0;
    top: 20px;
}

/* Center button in file actions bar */
.github-toc-center-btn  {
    margin-top: -5px;
}

.github-toc-right {
    float: right;
}

.github-toc-h1 {
    padding-left: 10px !important;
    font-weight: bold;
    font-size: 1.1em;
}
.github-toc-h2 {
    padding-left: 30px !important;
    font-weight: bold;
}
.github-toc-h3 {
    padding-left: 50px !important;
    font-weight: normal;
}
.github-toc-h4 {
    padding-left: 70px !important;
    font-weight: normal;
}
.github-toc-h5 {
    padding-left: 90px !important;
    font-weight: normal;
}
.github-toc-h6 {
    padding-left: 110px !important;
    font-weight: normal;
}

.github-toc-entry {
    color: black !important;
    border: none !important;
    line-height: 1.0 !important;
}
.github-toc-entry.navigation-focus {
    color: white !important;
}

.github-toc-backlink {
    color: black !important;
    display: none;
}
.github-toc-backlink > svg {
    vertical-align: middle !important;
}

h1:hover > .github-toc-backlink,
h2:hover > .github-toc-backlink,
h3:hover > .github-toc-backlink,
h4:hover > .github-toc-backlink,
h5:hover > .github-toc-backlink,
h6:hover > .github-toc-backlink {
    display: block;
}
